@import "src/assest/style/global";
.sidebar {

  height: 100vh;
  color: $text-color;
  //padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .logo {
    padding: 30px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .ant-menu-dark,
  .ant-layout-sider-children{
    background: #121212;
  }
  .navSidebar{
    width: 1200px;
    display: flex;
   flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    &_avatar{
      display: flex;
      gap: 30px;
      .iconsAvatar{
        width: 38px;
        height: 38px;
      }
    }
    &_d-flex{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;
      &_iconsSilader{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .icons{
          font-size: 20px;
        }
      }
    }
  }
  .avatar{

  }
//
//  .menu {
//    list-style: none;
//    padding: 0;
//
//    li {
//      padding: 12px 10px;
//      border-radius: 8px;
//      margin-bottom: 10px;
//      cursor: pointer;
//      transition: 0.3s;
//display: flex;
//      align-items: center;
//      gap: 10px;
//      &:hover,
//      &.active {
//        background: $gray-text;
//        //color: black;
//      }
//    }
//  }
//  &_Foot{
//    margin-top: auto; // Eng pastga tushiradi
//    font-size: 12px;
//    text-align: center;
//    padding-top: 10px;
//    color: $gray-text;
//  }
}
